<%- include ("header") -%>

<h2>This is the about page</h2>

<p>This is the about page about me, want to know more about me? I know enough about myself to count to you all about myself. About</p>

<%- include ("footer") -%>
