<!-- Valid HTML to EJS -->
<!-- Send app.js info into list.ejs so that it can dynamically change the html -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ToDo List</title>
  </head>
  <body>
    <!-- Marker - Whats in purple is replace the value in the variable -->
    <h1>Its a <%= kindOfDay %>!</h1>
    <p>
      Why are you not working!
      </p>
  </body>
</html>
