<%- include ("partials/header") -%>

<form class="item" action="/" method="post">
  <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
  <button type="submit" name="list" value="<%= listTitle %>">+</button>
</form>

<form type="text" name="composey" placeholder="" method="post">

</form>

<%- include ("partials/footer") -%>
